<div class="container-fluid main-container">
<!-- <div class="container"> -->
    <nav class="d-flex justify-content-between navigation-bar navbar navbar-expand-lg navbar-light bg-light">
        <div>
        <a class="navbar-brand d-flex align-items-center" href="#">
            <img src="assets/images/Download-Icon.png" alt="" width="40">
            <h4 class="m-0 px-2">Demo.com</h4> 
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
    </div>

        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">

        </div>
      </nav>

<app-youtube-downloader></app-youtube-downloader>
<!-- </div> -->
</div>